html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../images/fabric.png");
}

.nav-name {
  background: #4aaaa5;
  font-size: 25px;
}

.about-para {
  line-height: 1.5em;
  color: #777;
}

.section-wrapper {
  margin-top: 30px;
  margin-bottom: 80px;
}

.heading-name {
  color: #4aaaa5;
}

.portfolio-detail h5 {
  bottom: 40px;
  background: #4aaaa5;
}

.form-group label {
  color: #777;
}

.form-button {
  background: #4aaaa5;
}

.footer {
  bottom: 0px;
  height: 50px;
  border-top: 6px solid #4aaaa5;
  background-color: #777;
}

.footer span {
  font-size: 12px;
  top: 20px;
}
