body {
  background-image: url("../images/fabric.png");
}

.nav-name {
  background: #4aaaa5;
  font-size: 25px;
}

.wrapper {
  max-width: 900px;
}

.about-para {
  line-height: 1.5em;
  color: #777;
}

.wrapper h4 {
  color: #4aaaa5;
}

.wrapper hr {
  border-top: 1px solid #D3D3D3;
 }